<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App Page</title>
</head>
<body>
<div class="container">
  <h1 class="d-flex justify-content-center">Angular App</h1>
  <app-search></app-search>

  <nav style="padding:5px">
    <a class="button" routerLink="/home">Home</a> 
    <a class="button" routerLink="/department">Department</a>
    <a class="button" routerLink="/employee">Employees</a>
    <a class="button" routerLink="/products">Products</a>
  </nav>

<router-outlet></router-outlet>
</div>
</body>
</html>